body {
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSjEREZKolI7OFDQn4_u80tvZBbLyureE-v_w&usqp=CAU);
}

li {
  float: center;
}

.button1 {
  display: block;
  background-color: white;
  color: red;
  text-align: center;
  font-family: "Courier New", monospace;
  cursor: pointer;
}

.button2 {
  display: block;
  background-color: white;
  color: blue;
  text-align: center;
  font-family: "Courier New", monospace;
  cursor: pointer;
}
